/*Global Styles*/

html, body {
    height:100%;
    width:100%;
}

body {
    margin:0px;
    padding:0px;
    background-color:#FFFFFF;
    font-family:'Source Sans Pro',Trebuchet MS,sans-serif;
    font-size:16px;
    /*color:#FFFFFF;*/
    font-weight:600;
}

body {
    color:#000000;
}
h1, h2, h3, h4 {
    margin:0px;
    padding:0px;
    color:#8DC63F; /* Green */
    
}

p {
    line-height:150%;
    margin:15px 0px;
}
/*Header Styles*/


/*Banner Styles*/


/*Footer Styles*/